@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
}

.word-spacing {
  word-spacing: 2px;
}

body {
  background: black;
  /* width: 100vw;
    height: 100vh; */
  /* overflow: hidden; */
  color: white;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* ::-webkit-scrollbar{
    width: 1px;
    background: white;
    position: fixed;
    left: 0;
} */
.opacity_transition {
  opacity: 0;
  transition-duration: 1s;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.growing-circle {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(white,black);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: growCircle 1.2s ease-out forwards 0s;
}

@keyframes growCircle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: max(120vw, 120vh);
    height: max(120vw, 120vh);
  }
}

#presenting span {
  display: inline-block;
  -webkit-text-fill-color: transparent;
  background: white;
  text-shadow: 0 0 10px -5px black;
  -webkit-background-clip: text;
}
.text_style_gradient {
  -webkit-text-fill-color: transparent;
  background: white;
  text-shadow: 0 0 10px -5px black;
  -webkit-background-clip: text;
}
.reveal-text {
  overflow: hidden;
  white-space: nowrap;
}

.reveal-text span {
  display: inline-block;
  color: white;
  transform: translateY(100%);
  animation: reveal 0.5s forwards;
  animation-delay: calc(0.03s * var(--index));
  margin-right: 5px;
  transition-duration: 1s;
}

@keyframes reveal {
  to {
    transform: translateY(0);
  }
}

/* Mobile Navbar styles */
.mobile_navbar {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.nav_background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(180%) blur(10px);
}

.button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.ul,
.li {
  margin: 0;
  padding: 0;
}

.ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_icon-placeholder {
  width: 100%;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  flex: 40px 0;
  margin-right: 20px;
}

.nav_text-placeholder {
  border-radius: 5px;
  width: 100px;
  padding: 5px 2px;
  text-align: center;
  font-size: x-large;
  color: cyan;
  flex: 1;
  text-decoration: none;
}

.nav_text-placeholder:hover {
  color: #ff00ff;
}

/* Animated Text style */
.text_style_heading {
  /* backdrop-filter: saturate(100%) blur(5px);
  text-shadow: 0 0 3px #ffa500, 0 0 8px #ffa500, 0 0 12px #ffa500,
    0 0 25px #ffa500, 0 0 40px #ff0000, 0 0 6px #ff8d00, 0 0 50px #ff0000; */
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.letter_animation {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(20deg, cyan, magenta);
  -webkit-background-clip: text;
}

/* Add this to your styles */
.letter_animation:hover {
  transform: scale(1.2); /* Adjust the scale factor as needed */
}

/* video background */
.landing_video_background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.landing_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 50;
}

.lucide {
  scale: 1.5;
}

#accordcomp {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;

}

@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.button-glitch,
.button-glitch::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, magenta 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

.button-glitch::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Register";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    3%,
    magenta 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-glitch:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

.button-glitch:hover .discord {
  animation: rotate 0.75s 3 linear;
}

/* .button-glitch:active{
  transform: scale(1.5);
  transition: all 1s;
} */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* accordian styling */
.accordion__header {
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-top: -5px;
  transition: all 0.5s;
  @apply border-t-4 border-transparent;
}
.accordion__header:hover {
  opacity: 0.6;
}

.accordion__number {
  @apply sm:text-4xl text-3xl text-cyan-300;
}
.accordion__name {
  /* font-size: 20px; */
  @apply sm:text-3xl text-xl text-cyan-300;
  flex: 1;
}

.accordion__details {
  overflow: hidden;
  height: 0;
  color: whitesmoke;
}

.accordion__details ul {
  @apply sm:text-2xl font-thin  text-base;
  padding: 1rem 2rem;
  list-style-type: circle;
}
.open {
  @apply border-t-4 border-[#087f5b];
}
.open .accordion__header {
  @apply border-t-4 border-[#087f5b];
}

.open .accordion__header,
.open .accordion__number,
.open .accordion__name {
  @apply text-[#087f5b];
  /* color: #087f5b; */
}

.open .accordion__details {
  height: auto;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  border-radius: 100%;
  
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
  #FF00FF;
  border-radius: 100%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  border-radius: 100%;
  transform-origin: bottom left;
}


#accordcomp {
  --border-size: 1px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #03D0FF, #FF00FF);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;

}

@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


.nav-shadow {
  box-shadow: 0 0 10px -4px ;
}
body{
  background: black;
}