@tailwind base;
@tailwind components;
@tailwind utilities;

.word-spacing{
    word-spacing: 2px;
}

body{
    background-color: #1a1c2c;
}

.overlay{
    @apply bg-dotted-grid h-full opacity-30
}

::-webkit-scrollbar{
    width: 1px;
    background: white;
    position: fixed;
    left: 0;
}